/* You can add global styles to this file, and also import other style files */
html,body {
  background-color:rgb(172, 179, 177);
  margin: 0px;
  padding: 0px;
  // height: 100%;
}

:root {
  --color-red: rgba(200,1,1,.8);
}
